<!doctype html>
<html>

  <!--                                                                                                 
    -->

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>template</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

  </head>

  <body>  　

  <header>
    <div class="header-contents">
      <h1>メールアドレス追加画面</h1>
    </div><!-- /.header-contents -->
  </header>

  <div class="main-wrapper">
    <section>

      <p>氏名とメールアドレスを入力してください</p>

      <p>
	<form action="cgi-bin/aaa.cgi" method="post">	  
	  <br>保護者氏名<br>
	  <tr>
	    <td><input type="text" name="title" size="10" maxlength="30"></td>
	  </tr>
	  
	  <br>メールアドレス<br>
	  <tr>
	    <td><input type="text" name="title" size="30" maxlength="30"></td>
	  </tr>
    
	  <br><br>
	  <tr>
	    <td>
              <input type="submit" value="OK" id="submit" name="OK">
	    </td>
	  </tr>
	</form>
      </p>

    </section>
  </div><!-- /.main-wrapper -->
  <footer>teamA</footer>
  
  </body>
</html>
