<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/edit_info.js"></script>
</head>
<body>
<h1>卒業生情報</h1>
<form action="../view/graduateList.html">
	<table>
	<tr>
		<td>
			名前
		</td>
		<td>
			<input type="text" name="name" required>
		</td>
	</tr>
	<tr>
		<td>
			卒業年度
		</td>
		<td>
			<select name="graduate_year" id="yearList">
			</select>
		</td>
	</tr>
	<tr>
		<td>
			親の名前
		</td>
		<td>
			<input type="text" name="parent_name" required>
		</td>
	</tr>
	<tr>
		<td>
			住所
		</td>
		<td>
			<input type="text" name="address" required>
		</td>
	</tr>
	<tr>
		<td>
			遠方近郊
		</td>
		<td>
			<input type="radio" name="far" value="yes"> 遠方
			<input type="radio" name="far" value="no" checked> 近郊
		</td>
	</tr>
	<tr>
		<td>
		在園兄弟の有無
		</td>
		<td>
			<input type="radio" name="brother" value="yes"> 有
			<input type="radio" name="brother" value="no" checked> 無
		</td>
	</tr>
	</table>
	<button type="submit">OK</button>
	<button type="button" onclick="back()">Back</button>
</form>
</body>
</html>