<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>卒業生情報</h1>
<form action="../view/graduateList.html">
	<table>
	<tr>
		<td>
			名前
		</td>
		<td>
			<input type="text" name="example1">
		</td>
	</tr>
	<tr>
		<td>
			卒業年度
		</td>
		<td>
			<select name="卒業年度" id="year">
				<option value="2016">2016</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			親の名前
		</td>
		<td>
			<input type="text" name="parent_name">
		</td>
	</tr>
	<tr>
		<td>
			住所
		</td>
		<td>
			<input type="text" name="example1">
		</td>
	</tr>
	<tr>
		<td>
			遠方近郊
		</td>
		<td>
			<input type="radio" name="far" value="遠方"> 遠方
			<input type="radio" name="far" value="近郊" checked> 近郊
		</td>
	</tr>
	<tr>
		<td>
		在園兄弟の有無
		</td>
		<td>
			<input type="radio" name="brother" value="有"> 有
			<input type="radio" name="brother" value="無" checked> 無
		</td>
	</tr>
	</table>
	<button type="submit">OK</button>
	<button type="button" onclick="back()">Back</button>
</form>
</body>
</html>