<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/graduateList.js"></script>
</head>
<body>

<form action="../view/index.html">
    <button type="submit">Add</button>
</form>

<!-- 名前,卒園年度,住所,遠方近郊,保護者名,保護者のメールアドレス,在園兄弟の有無 -->
<table border=1 id="memberlist">
  <caption>卒園者リスト</caption>
  <tr>
    <th>名前</th>
    <th>卒園年度</th>
    <th>住所</th>
    <th>遠方or近郊</th>
    <th>保護者名</th>
    <th>メールアドレス</th>
    <th>在園兄弟の有無</th>
  </tr>
</table>

</body>
</html>