<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>template</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<style>
#box{
	display: none;
	margin: 0 auto 0 auto;
	max-width: 960px;
}
#box ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#box li{
	padding: 8px 0 8px 0;
	color: #20567d;
	border-bottom: 1px solid #ffffff;
}
.header-contents{
	position: relative;
}
#box_btn{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 8px 8px;
	padding: 6px 20px 6px 20px;
	background-color: #fff;
	cursor: pointer;
}
</style>
</head>
<body>
<div id="box">
	<ul>
		<li><a href="memberlist_letter.html">卒園者List</a></li>
	</ul>
</div>
<header>
<div class="header-contents">
<div id="box_btn">Menu</div>
<h1>保育園卒園児向け情報発信IT化支援システム</h1>
<h2>ハガキやメール送信を楽々に♪</h2>
</div><!-- /.header-contents -->
</header>
<div class="main-wrapper">
<section>
	<p>連絡先の条件を選択してください</p>
	<!--<form id="form" action="memberlist_letter.html">-->
	<form id="form" action="memberlist_letter.html" name="form1">
		<input type="checkbox" name="far" value="Yes">遠方にも送る<br>
		<input type="checkbox" name="brother" value="Yes">在園する兄弟がいる人も送る<br>
		<input type="radio" name="frequency">ハガキ<br>
		<input type="radio" name="frequency">メール<br>
		<input type="submit" name="送信する" id="submit" value="Listup"><br>
	</form>
</section>
</div>
<div id="result"></div>
	<!-- /.main-wrapper -->
<footer>teamA</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
$(document).ready(function(){
	$('#box_btn').on('click', function(){
		$('#box').slideToggle();
	});
});
</script>
<script>

	document.getElementById('form').onsubmit = function(){
		var flag = 0;
	// 設定開始（チェックする項目を設定してください）
	if(document.form1.frequency.length) { // 選択肢が複数ある場合

		flag = 1;
		var i;

		for(i=0; i<document.form1.frequency.length; i++){

			if(document.form1.frequency[i].checked){
				flag = 0;
				break;
			}
		}

	}

	else{ // 選択肢が1つだけの場合

		if(!document.form1.frequency.checked){
			flag = 1;
		}
	}

	// 設定終了

	if(flag){
		window.alert('選択されていません'); // 選択されていない場合は警告ダイアログを表示
		return false; // 送信を中止
	}
	else{
		return true; // 送信を実行
	}
	}

</script>
</body>
</html>
