<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>template</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
<div class="header-contents">
<h1>保育園卒園児向け情報発信IT化支援システム</h1>
<h2>ハガキやメール送信を楽々に♪</h2>
</div><!-- /.header-contents -->
</header>
<div class="main-wrapper">
<section>
	<p>連絡先の条件を選択してください</p>
	<form id="form" action="ListUp.html">
		<input type="checkbox" name="q1" value="far">遠方にも送る<br> 
		<input type="checkbox" name="q1" value="brother">在園する兄弟がいる人も送る<br>
		<input type="radio" name="frequency">ハガキ<br>
		<input type="radio" name="frequency">メール<br>
		<input type="submit" name="送信する" id="submit" value="Listup"><br>
	</form>
</section>
</div><!-- /.main-wrapper -->
<footer>teamA</footer>
</body>
</html>
