<!DOCTYPE html>
<html>
<head>
  <title>eSS294</title>
  <script type="text/javascript" src="../js/mail_list.js"></script>
  <link href="../css/style.css" rel="stylesheet" type="text/css">


<style>
section img {
  max-width: 100%
}
.center {
  margin: 0 auto 0 auto;
  width: 960px;
}
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin-right: 1%;
  width: 24%;
}
</style>

</head>
<body>

<header>
<div class="header-contents">
<h1>対象者リスト</h1>
<h2>メール</h2>
</div><!-- /.header-contents -->
</header>
<div class="center">
<div class="main-wrapper">

<script src=../js/mail_list.js></script>

<!-- 値をセットするTABLE -->
<table border=1 id="memberlist">
  <caption>メール送信対象者</caption>
  <tr>
    <th>名前</th>
    <th>親の名前</th>
    <th>メールアドレス</th>
    <th>遠方近郊</th>
    <th>在園兄弟</th>
  </tr>
</table>

<div style="display: inline">
  <form action="../view/send_mail.HTML" style="display: inline">
    <button type="submit">OK</button>
  </form>
  <form action="../view/index.html" style="display: inline">
    <button type="submit">戻る</button>
  </form>
</div>

</div>
</div>

<footer>teamA</footer>

</body>
</html>
