<html>
  <head>
<script type="text/javascript" src="../js/mail_list.js"></script>
  </head>
  <body>                   
    <script src=../js/mail_list.js></script>
    <h1 id="title">メール送信リスト</h1>
 <div class="test">
    <ul id="list">
      <li id="item1">リスト1</li>
      <li id="item2">リスト2</li>
      <li id="item3">リスト3</li>
      <li id="item4">リスト4</li>
      <li id="item5">リスト5</li>
      <li id="item6">リスト6</li>
      <li id="item7">リスト7</li>
      <li id="item8">リスト8</li>
      <li id="item9">リスト9</li>
      <li id="item10">リスト10</li>
      <li id="item11">リスト11</li>
 </ul>
</div>
<style type="text/css">
.test {
	overflow:auto;
	height:200px;
	line-height:1.5;
	padding:10px 0;
}
</style>
   <input type="button" name="addBtn" value="追加" onclick="addItem()" />
    <input type="button" name="delBtn" value="削除" onclick="delItem()" />
  </body>
</html>
