<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/memberlist_letter.js"></script>
	<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<style>
section img {
	max-width: 100%
}
.center {
	margin: 0 auto 0 auto;
	width: 50%;
}
ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	float: left;
	margin-right: 1%;
	width: 24%;
}
</style>

<body>

<header>

<div class="header-contents">
<h1>List</h1>
<h2>ListUp</h2>
</div><!-- /.header-contents -->
</header>
<div class="center">
<div class="main-wrapper">
<table border=1 id="memberlist">
  <caption>ハガキ送付対象者</caption>
  <tr>
    <th>名前</th>
    <th>住所</th>
    <th>遠方近郊</th>
    <th>在圏兄弟の有無</th>
  </tr>
</table>

<div style="display: inline">
	<form action="../view/print.html" style="display: inline">
		<button type="submit">OK</button>
	</form>
	<form action="../view/index.html" style="display: inline">
		<button type="submit">戻る</button>
	</form>
</div>

</div>
</div>

</body>
</html>