<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <script src="lib/handlebars.js"></script> -->
    <!-- <link href="assets/ratchet/css/ratchet.css" rel="stylesheet"> -->
	<!-- <link href="assets/css/styles.css" rel="stylesheet"> -->
</head>
<body>

<p>テンプレート選択<br>
<input type="radio" value="運動会"> 運動会
<input type="radio" value="バザー"> バザー
<input type="radio" value="年賀状"> 年賀状
<input type="radio" value="餅つき会"> 餅つき会
<input type="radio" value="お祭り"> お祭り
<input type="radio" value="卒園式"> 卒園式
</p>

<div>
    <input type="button" value="Print">
    <input type="button" value="Back">
</div>

</body>
</html>