<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/print.js" type="text/javascript"></script>
    <link href="../css/print.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
<div class="header-contents">
<h1>ハガキ</h1>
<h2>ハガキの作成</h2>
</div><!-- /.header-contents -->
</header>

<div class="center">

<div class="main-wrapper">

<section>
        <p>テンプレート選択</p>
        <div class="box">
            <img src="../resource/運動会.png" id="bigimg">
            <!-- <img src="../resource/運動会.png" id="bigimg" width="50%" height="50%"> -->
        </div>
        <div class="box">
        <ul>
            <li><img src="../resource/thumb-運動会.png" class="thumb" data-image="../resource/運動会.png"></li>
            <li><img src="../resource/thumb-バザー.png" class="thumb" data-image="../resource/バザー.png"></li>
            <li><img src="../resource/thumb-年賀状.png" class="thumb" data-image="../resource/年賀状.png"></li>
            <li><img src="../resource/thumb-餅つき会.png" class="thumb" data-image="../resource/餅つき会.png"></li>
            <li><img src="../resource/thumb-お祭り.png" class="thumb" data-image="../resource/お祭り.png"></li>
            <li><img src="../resource/thumb-卒園式.png" class="thumb" data-image="../resource/卒園式.png"></li>
        </ul>
        </div>
</section>

<div>
    タイトル：
    <input type="text" value="第○回卒園式">
    <br>
    コメント：<br>
    <textarea rows="10" cols="80">○月○日に卒園式を行います。</textarea><br>
    <input type="submit" value="プレビュー" id="modal-open">
</div>

<div id="modal-content">
    <p>プレビュー</p>
    <img src="../resource/preview.png" width="100%"><br>
    <input type="submit" value="閉じる" id="modal-close">
</div>

<br>

<div style="display: inline">
    <form action="../view/print_completion.html" style="display: inline">
        <button type="submit">印刷</button>
    </form>
    <form action="../view/memberlist_letter.html" style="display: inline">
        <button type="submit">戻る</button>
    </form>
</div>

<script>
    preview();
</script>
</div>
</div>

</body>
</html>