<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<style>
section img {
	max-width: 100%
}
.center {
	margin: 0 auto 0 auto;
	width: 50%;
}
ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	float: left;
	margin-right: 1%;
	width: 24%;
}
</style>
<body>
<header>
<div class="header-contents">
<h1>ハガキ印刷</h1>
<h2>印刷完了</h2>
</div><!-- /.header-contents -->
</header>

    <div class="center">

<!-- <p>テンプレート選択<br>
<input type="radio" value="運動会"> 運動会
<input type="radio" value="バザー"> バザー
<input type="radio" value="年賀状"> 年賀状
<input type="radio" value="餅つき会"> 餅つき会
<input type="radio" value="お祭り"> お祭り
<input type="radio" value="卒園式"> 卒園式
</p> -->

<div class="main-wrapper">

<p>印刷しました</p>

<form action="../view/index.html" style="display: inline">
    <button type="submit">トップ</button>
</form>

</div>

</body>
</html>