<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <script src="../js/print.js" type="text/javascript"></script>
    <link href="../css/print.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="center">

<!-- <p>テンプレート選択<br>
<input type="radio" value="運動会"> 運動会
<input type="radio" value="バザー"> バザー
<input type="radio" value="年賀状"> 年賀状
<input type="radio" value="餅つき会"> 餅つき会
<input type="radio" value="お祭り"> お祭り
<input type="radio" value="卒園式"> 卒園式
</p> -->

<div class="main-wrapper">
<section>
        <p>テンプレート選択</p>
        <div>
            <img src="../resource/運動会.png" id="bigimg">
        </div>
        <ul>
            <li><img src="../resource/thumb-運動会.png" class="thumb" data-image="../resource/運動会.png"></li>
            <li><img src="../resource/thumb-バザー.png" class="thumb" data-image="../resource/バザー.png"></li>
            <li><img src="../resource/thumb-年賀状.png" class="thumb" data-image="../resource/年賀状.png"></li>
            <li><img src="../resource/thumb-餅つき会.png" class="thumb" data-image="../resource/餅つき会.png"></li>
            <li><img src="../resource/thumb-お祭り.png" class="thumb" data-image="../resource/お祭り.png"></li>
            <li><img src="../resource/thumb-卒園式.png" class="thumb" data-image="../resource/卒園式.png"></li>
        </ul>
</section>
</div>

<div>
    日にち：
    <input type="text" name="word">
    <br>
    備考：<br>
    <textarea name="bikou" rows="4" cols="40"></textarea><br>
    <input type="submit" name="sousin" value="Input">
</div>

<div>
    <input type="button" value="Print">
    <input type="button" value="Back">
</div>

<script>
    preview();
</script>
    </div>

</body>
</html>