<!doctype html>
<html>
  
  <!--
    -->
  
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>template</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../js/sendMail.js"></script>
  </head>  
  <body>
<style type="text/css">
.button_wrapper{
   text-align:center;
}
</style>
    <header>
      <div class="header-contents">
	<h1>送信完了</h1>
      </div><!-- /.header-contents -->
    </header>
    
    <div class="main-wrapper">
      <section>
	
	<p>
<div align="center">
	    <p>メールを送信しました</p>
	  </div>
<div class="button_wrapper">
		<input type="submit" value="トップ" id="submit" name="トップ" 
		       onClick="location.href='index.html';"/>
</div>
	      </td>
	    </tr>
	  </form>
	</p>
	
      </section>
    </div><!-- /.main-wrapper -->
    <footer>teamA</footer>
    
  </body>
  
</html>
